
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 50px;
}

#app {
    padding: 40px 15px;
    text-align: center;
}

form {
    margin-bottom: $line-height-computed;
}

.errors, .result {
    @extend .lead;
}

.github-link {

    img {
        display: block;
        height: 22px;
        margin: 0 auto;
        opacity: (0.5);
    }

    &:hover img {
        cursor: pointer;
        opacity: (1);
    }
}

.footer {
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    width: 100%;

    p {
        margin: 20px 0;
    }
}
